@using System.Web.Optimization
@using Microsoft.AspNet.Identity
@using StockExchange.Web.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stock Exchange Application</title>

    @Styles.Render("~/bundles/styles/vendor")
    @Styles.Render("~/Content/css/main.css")

    @RenderSection("css", false)
</head>
<body>
    <nav class="navbar">
        <div class="navbar-header">
            <a class="btn btn-icon navbar-btn sidebar-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
            <a class="navbar-brand" href="/">Stock Exchange Investor</a>
        </div>
        <div class="collapse navbar-collapse">
            @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                <ul class="nav navbar-nav navbar-right">
                    @if (!Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Sign in", "Login", "Account")</li>
                        <li>@Html.ActionLink("Sign up", "Register", "Account")</li>
                    }
                    else
                    {
                        @Html.AntiForgeryToken()
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user fa-lg"></i>  @ViewBag.CurrentUserFullName
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#"><i class="fa fa-cog fa-lg"></i>  Settings</a>
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-lg"></i>  Log out</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            }
        </div>
    </nav>
    <div class="main-container">
        <div class="sidebar">
            <div class="sidebar-content">
                <ul class="nav sidebar-menu">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="list-header"></li>
                        <li class="@Html.IsSelected("Wallet")">
                            <a href="@Url.Action("Index", "Wallet")">
                                <i class="fa fa-dashboard fa-lg"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                    }
                    <li class="list-header">Data</li>
                    <li class="@Html.IsSelected("Price")">
                        <a href="@Url.Action("Price", "Price")">
                            <i class="fa fa-table fa-lg"></i>
                            <span>Prices</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected("Charts")">
                        <a href="@Url.Action("Index", "Charts")">
                            <i class="fa fa-line-chart fa-lg"></i>
                            <span>Charts</span>
                        </a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="list-header">Your investments</li>
                        <li class="@Html.IsSelected("Transactions", "Index")">
                            <a href="@Url.Action("Index", "Transactions")">
                                <i class="fa fa-usd fa-lg"></i>
                                <span>Transactions</span>
                            </a>
                        </li>
                        <li class="@Html.IsSelected("Strategies")">
                            <a href="@Url.Action("Index", "Strategies")">
                                <i class="glyphicon glyphicon-pawn"></i>
                                <span>Strategies</span>
                            </a>
                        </li>
                        <li class="@Html.IsSelected("Simulations")">
                            <a href="@Url.Action("Index", "Simulations")">
                                <i class="fa fa-play-circle fa-lg"></i>
                                <span>Simulations</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div id="body" class="main-content">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
            @RenderBody()
            <footer>
                &copy; Bartosz Woźniak @DateTime.Now.Year - Stock Exchange Investor
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/scripts/jquery");
    @Scripts.Render("~/bundles/scripts/jquery-ui")
    @Scripts.Render("~/bundles/scripts/bootstrap")

    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", false)
</body>
</html>