@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stock Exchange Application</title>
    @RenderSection("css", false)
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/Common/common.css")
    @Styles.Render("~/Content/Common/header.css")
    @Styles.Render("~/Content/Common/main.css")
    @Styles.Render("~/Content/Common/widget.css")
    @Styles.Render("~/Content/Common/footer.css")
    @Styles.Render("~/Content/datepicker.min.css")
    @Styles.Render("~/Content/DataTables/buttons.dataTables.css")
    @Styles.Render("~/Content/DataTables/fixedColumns.dataTables.css")
    @Styles.Render("~/Content/DataTables/jquery.dataTables.css")
    @Styles.Render("~/Content/DataTables/dataTables.bootstrap.css")
    @Styles.Render("~/Content/DataTables/dataTables.tableTools.css")
    @Styles.Render("~/Content/DataTables/jquery.multiselect.css")
    @Styles.Render("~/Content/DataTables/jquery.multiselect.filter.css")
    @Styles.Render("~/Content/DataTables/datatablefix.css")
    @Styles.Render("~/Content/jquery-ui-1.10.3.custom.css")
</head>
<body>
    <div id="body-wrapper">
        <div id="body">
            @RenderBody()
        </div>
        <footer>
            <div class="div-footer">
                <span>&copy; Bartosz Woźniak @DateTime.Now.Year - Stock Exchange Analyzer </span>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", false)
</body>
</html>