<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stock Exchange Application</title>
</head>
<body>
    <div id="body-wrapper">
        <div id="body">
            @RenderBody()
        </div>
        <footer>
            <div class="div-footer">
                <span>&copy; Bartosz Woźniak @DateTime.Now.Year - Stock Exchange Analyzer </span>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", false) 
    @RenderSection("css", false)
</body>
</html>