@model StockExchange.Web.Models.Transactions.TransactionViewModel

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Recent transactions</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <div id="grid-container" class="grid-container ">
                <table id="grid" class="table table-hover table-striped table-bordered"
                      
                       data-searching="false"
                      
                       data-auto-width="true"
                       data-scroll-collapse="true"
                       data-processing="true"
                       data-server-side="true"
                       data-ajax-url="@Url.Action("GetTransactionsTable")">
                    <thead>
                        <tr>
                            <th class="width-big" data-column="Date">@Html.DisplayNameFor(i => Model.Transactions.FirstOrDefault().Date)</th>
                            <th class="width-small" data-column="CompanyId">@Html.DisplayNameFor(i => Model.Transactions.FirstOrDefault().CompanyId)</th>
                            <th class="width-small" data-column="Price">@Html.DisplayNameFor(i => Model.Transactions.FirstOrDefault().Price)</th>
                            <th class="width-small" data-column="Quantity">@Html.DisplayNameFor(i => Model.Transactions.FirstOrDefault().Quantity)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">
                                <span>Loading Data...</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>