@model IList<StockExchange.Business.Models.Transaction.UserTransactionDto>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Recent transactions</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Company</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model)
                    {
                        <tr>
                            <td>@transaction.Date</td>
                            <td>@transaction.Company.Code</td>
                            <td>@transaction.Price</td>
                            <td>@(Math.Abs(transaction.Quantity))</td>
                            <td>
                                @if (transaction.Quantity < 0)
                                {
                                    <i class="fa fa-arrow-up icon-stock-up"></i>
                                    <span class="text-success">@(-transaction.Quantity * transaction.Price)</span>
                                }
                                else
                                {
                                    <i class="fa fa-arrow-down icon-stock-down"></i>
                                    <span class="text-danger">@(-transaction.Quantity * transaction.Price)</span>
                                }
                            </td>
                            <td>
                                <span>@(transaction.Quantity < 0 ? "SELL" : "BUY")</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>