@model StockExchange.Web.Models.Dashboard.DashboardViewModel

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Currently Owned Stocks</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table id="current-grid" class="table table-hover table-stripe"
                   data-length-menu="[10, 20, 30, 40]"
                   data-page-length="10"
                   data-ordering="true"
                   data-searching="true"
                   data-auto-width="false"
                   data-scroll-collapse="true"
                   data-processing="true"
                   data-server-side="true"
                   data-ajax-url="@Url.Action("GetOwnedStocksTable")">
                <thead>
                    <tr>
                        <th data-column="CompanyName">@Html.DisplayNameFor(i => Model.OwnedCompanyStocks.FirstOrDefault().CompanyName)</th>
                        <th data-column="OwnedStocksCount">@Html.DisplayNameFor(i => Model.OwnedCompanyStocks.FirstOrDefault().OwnedStocksCount)</th>
                        <th data-column="AverageBuyPrice">@Html.DisplayNameFor(i => Model.OwnedCompanyStocks.FirstOrDefault().AverageBuyPrice)</th>
                        <th data-column="TotalBuyPrice">@Html.DisplayNameFor(i => Model.OwnedCompanyStocks.FirstOrDefault().TotalBuyPrice)</th>
                        <th data-column="CurrentPrice">@Html.DisplayNameFor(i => Model.OwnedCompanyStocks.FirstOrDefault().CurrentPrice)</th>
                        <th data-column="CurrentValue">@Html.DisplayNameFor(i => Model.OwnedCompanyStocks.FirstOrDefault().CurrentValue)</th>
                        <th data-column="Profit" class="width-smaller">@Html.DisplayNameFor(i => Model.OwnedCompanyStocks.FirstOrDefault().Profit)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7">
                            <span>No data found...</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>