@model StockExchange.Web.Models.Charts.ChartsIndexModel
@using System.Web.Optimization
@using StockExchange.Business.Indicators
@using StockExchange.Common.Extensions

@{
    ViewBag.Title = "Charts";
}
@section css
{
    @Styles.Render("~/Content/css/charts.css")
}

<div class="row">
    <div class="col-md-2">
        <span class="chart-options-wrapper">
            <span class="chart-option">Line chart</span>
            <label class="toggle">
                <input type="checkbox" id="is-candlestick-chart">
                <span class="handle"></span>
            </label>
            <span class="chart-option">Candlestick chart</span>
        </span>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.DropDownList("selectedCompanies", new MultiSelectList(Model.Companies, "Id", "Name",
                    new List<int> { Model.Companies.FirstOrDefault()?.Id ?? 0 }),
                    new { @class = "form-control company-select", multiple = "" })
        </div>
    </div>
</div>
<div class="row">
    @Html.DropDownList("Indicators", new SelectList(Enum.GetValues(typeof(IndicatorType)).Cast<IndicatorType>().Select(e => e.GetEnumDescription())))
    Parameters:
</div>

<div class="row">
    <div id="chart-container" class="center-block"></div>
</div>

@section scripts
{
    <script>
        var config = {
            getLineChartDataUrl: '@Url.Action("GetLineChartData")',
            getCandlestickDataUrl: '@Url.Action("GetCandlestickChartData")'
        };
    </script>

    @Scripts.Render("~/bundles/scripts/highcharts")
    @Scripts.Render("~/Scripts/Views/chartsView.js")
}