@using System.Web.Optimization
@using StockExchange.Web.Models.Indicator
@model StockExchange.Web.Models.Strategy.EditStrategyViewModel

@{
    ViewBag.Title = "Edit strategy";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-centered">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">@(Model.Id.HasValue ? "Edit strategy" : "Define your strategy")</h3>
                </div>
                <div class="box-body col-sm-10 col-centered">
                    @using (Html.BeginForm("EditStrategy", "Strategies", null, FormMethod.Post, new {@class = "form-horizontal", id = "edit-strategy-form"}))
                    {
                    <div class="form-group property has-feedback">
                        <label class="col-sm-4 control-label">Strategy Name: </label>
                        <div class="col-sm-8 input-group">
                            @Html.TextBoxFor(m => m.Name, "", new {@class = "strategy-name form-control"})
                            <span class="glyphicon form-control-feedback"></span>
                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Add indicators: </label>
                        @Html.DropDownList("Indicators", new SelectList(Model.Indicators, nameof(IndicatorViewModel.Type), nameof(IndicatorViewModel.Name)), " --- ", new {@class = "form-control indicator-select"})
                    </div>
                    foreach (var indicator in Model.Indicators)
                    {
                        <fieldset data-id="@indicator.Type" class="@indicator.Type @(indicator.IsSelected ? "" : "hidden") indicator form-group">
                            <legend class="col-sm-12">@indicator.Name<i class="fa fa-trash fa-pull-right remove-indicator"></i></legend>
                            @foreach (var property in indicator.Properties)
                            {
                                <div class="property form-group" data-name="@property.Name">
                                    <label class="col-sm-4 control-label">@property.Name</label>
                                    <div class="input-group col-sm-8">
                                        @Html.TextBox(property.Value.ToString(), property.Value.ToString(), new {@class = "property-value form-control"})
                                    </div>
                                </div>
                            }
                        </fieldset>
                    }
                    <div class="form-group">
                        <button class="btn btn-success pull-right edit-strategy" type="submit">@(Model.Id.HasValue ? "Save" : "Create")</button>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var config = {
            createStrategyUrl: '@Url.Action("EditStrategy")',
            strategyId : '@(Model.Id.HasValue ? Model.Id.ToString() : "null")'
        };
    </script>
    @Scripts.Render("~/Scripts/Views/editStrategyView.js")
}
