@using System.Web.Optimization
@using StockExchange.Web.Models
@model StockExchange.Web.Models.StrategyViewModel

@{
    ViewBag.Title = "Strategy";
}

<style>
    .hidden {
        display: none;

    }
    .shown {
        display: block;

    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-centered">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Define your strategy</h3>
                </div>
                <div class="box-body col-sm-10 col-centered">
                    <div>
                        <label>Select indicators that You are interested in: </label>
                        @Html.DropDownList("Indicators", new SelectList(Model.Indicators, nameof(IndicatorViewModel.Type), nameof(IndicatorViewModel.Name)), " --- ", new { @class = "form-control indicator-select" })
                    </div>
                    @foreach (var indicator in Model.Indicators)
                    {
                        <div class="@indicator.Type hidden">
                            <label>@indicator.Name</label>
                            @foreach (var property in Model.Properties.Where(item => item.Value.Type == indicator.Type))
                            {
                                <label>@property.Key.Name</label>
                                @Html.TextBox(property.Key.Value.ToString(), property.Key.Value.ToString(), new { @class = property.Key.Name })
                            }
                        </div>
                    } 
                    <div>
                        <button class="btn btn-success pull-right" type="submit">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Views/strategyView.js")
}
