@using System.Web.Optimization
@using StockExchange.Web.Models
@model StockExchange.Web.Models.StrategyViewModel

@{
    ViewBag.Title = "Strategy";
}

<style>
    .hidden {
        display: none;

    }
    .margin {
        margin-top: 20px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-centered">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Define your strategy</h3>
                </div>
                <div class="box-body col-sm-10 col-centered">
                    <div class="property">
                        <label>Strategy Name: </label>
                        @Html.TextBox("strname", "", new { @class = "strategyname" })
                    </div>      
                    <div class="margin">
                        <label>Select indicators that You are interested in: </label>
                        @Html.DropDownList("Indicators", new SelectList(Model.Indicators, nameof(IndicatorViewModel.Type), nameof(IndicatorViewModel.Name)), " --- ", new {@class = "form-control indicator-select"})
                    </div>
                    @foreach (var indicator in Model.Indicators)
                    {
                        <div id="@indicator.Type" class="@indicator.Type hidden indicator margin">
                            <label>@indicator.Name</label>
                            @foreach (var property in Model.Properties.Where(item => item.Value.Type == indicator.Type))
                            {
                                <div class="property">
                                    <label class="propertyname">@property.Key.Name</label>
                                    @Html.TextBox(property.Key.Value.ToString(), property.Key.Value.ToString(), new {@class = property.Key.Name})
                                </div>
                            }
                        </div>
                    }
                    <div>
                        <button class="btn btn-success pull-right create" type="submit">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Views/strategyView.js")
}
