@model StockExchange.Web.Models.Wallet.WalletViewModel
@using System.Web.Optimization

@{
    ViewBag.Title = "Wallet";
}

<div class="row">
    <div class="col-sm-5">
        <div id="transactions-table-container">
            @Html.Partial("_TransactionsTable")
        </div>
        <div id="current-transactions-table-container">
            @Html.Partial("_CurrentTransactionsTable")
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_BudgetInfo", Model.BudgetInfo)
        @Html.Partial("_AddTransaction")
    </div>
</div>

@section css
{
    @Styles.Render("~/Content/css/dataTableFix.css")
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts/datatables")
    @Scripts.Render("~/Scripts/components/budgetInfoBox.js")
    @Scripts.Render("~/Scripts/views/walletView.js")
}
