@using System.Web.Optimization
@model StockExchange.Web.Models.PriceViewModel
@{
    ViewBag.Title = "Prices";
}
<div class="main-container">
    <h1>Prices</h1>
    <section class="panel panel-default panel-accordion">
        <div class="panel-body panel-content">
            @Html.Partial("_PricesDataTable")
        </div>
    </section>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery-1.11.3.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/jquery.multiselect/jquery-ui-1.10.3.custom.js")
    @Scripts.Render("~/Scripts/jquery.multiselect/jquery.multiselect.min.js")
    @Scripts.Render("~/Scripts/jquery.multiselect/jquery.multiselect.filter.js") 
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/masonry.pkgd.min.js") 
    @Scripts.Render("~/Scripts/generic.js")  
    @Scripts.Render("~/Scripts/panelAccordion.js")
    @Scripts.Render("~/Scripts/notification.js")
    @Scripts.Render("~/Scripts/overlay.js")
    @Scripts.Render("~/Scripts/dateFilter.js")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/buttons.html5.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.buttons.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.fixedColumns.js")
    @Scripts.Render("~/Scripts/DataTables/dataTablesExtensions.js")
    @Scripts.Render("~/Scripts/price.js")
}