@using System.Web.Optimization
@model StockExchange.Web.Models.Price.PriceViewModel
@{
    ViewBag.Title = "Prices";
}
<section class="panel panel-default prices-table">
    <div class="panel-body">
        @Html.Partial("_PricesDataTable")
    </div>
</section>

@section scripts
{

    @Scripts.Render("~/bundles/scripts/datatables")
    @Scripts.Render("~/Scripts/Views/pricesView.js")
}

@section css
{
    @Styles.Render("~/bundles/styles/jquery-ui-multiselect")
    @Styles.Render("~/Content/css/dataTableFix.css")
}