@using System.Web.Optimization
@model StockExchange.Web.Models.PriceViewModel
@{
    ViewBag.Title = "Prices";
}
<div class="main-container">
    <h1>Prices</h1>
    <section class="panel panel-default panel-accordion">
        <div class="panel-body panel-content">
            @Html.Partial("_PricesDataTable")
        </div>
    </section>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery-1.12.4.js")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.fixedColumns.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/Scripts/jquery-ui-multiselect-widget/jquery.multiselect.js")
    @Scripts.Render("~/Scripts/jquery-ui-multiselect-widget/jquery.multiselect.filter.js")   
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/Defined/dataTablesExtensions.js")
    @Scripts.Render("~/Scripts/Defined/dateFilter.js")
    @Scripts.Render("~/Scripts/Defined/price.js")
}

@section css
{
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/jquery-ui-multiselect-widget/jquery.multiselect.css")
    @Styles.Render("~/Content/jquery-ui-multiselect-widget/jquery.multiselect.filter.css")
    @Styles.Render("~/Content/bootstrap-datepicker/datepicker3.css")

    @Styles.Render("~/Content/Defined/main.css")
  
    @Styles.Render("~/Content/DataTables/buttons.dataTables.css")
    @Styles.Render("~/Content/DataTables/fixedColumns.dataTables.css")
    @Styles.Render("~/Content/DataTables/jquery.dataTables.css")
    @Styles.Render("~/Content/DataTables/dataTables.bootstrap.css")
    @Styles.Render("~/Content/DataTables/dataTables.tableTools.css")
    @Styles.Render("~/Content/DataTables/datatablefix.css")

}