@using System.Web.Optimization
@model StockExchange.Web.Models.PriceViewModel
@{
    ViewBag.Title = "Prices";
}
<section class="panel panel-default prices-table">
    <div class="panel-body">
        @Html.Partial("_PricesDataTable")
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/bower_components/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/bower_components/datatables.net/js/jquery.dataTables.js")
    @Scripts.Render("~/bower_components/jquery-ui-multiselect-widget/src/jquery.multiselect.js")
    @Scripts.Render("~/bower_components/jquery-ui-multiselect-widget/src/jquery.multiselect.filter.js")
    @Scripts.Render("~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js")

    @Scripts.Render("~/Scripts/dataTablesExtensions.js")
    @Scripts.Render("~/Scripts/dateFilter.js")
    @Scripts.Render("~/Scripts/price.js")
}

@section css
{
    @Styles.Render("~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css")
    @Styles.Render("~/bower_components/jquery-ui-multiselect-widget/jquery.multiselect.css")
    @Styles.Render("~/bower_components/jquery-ui-multiselect-widget/jquery.multiselect.filter.css")
    @Styles.Render("~/bower_components/datatables.net-dt/css/jquery.dataTables.min.css")
    @Styles.Render("~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")

    @Styles.Render("~/Content/css/dataTableFix.css")
}