@using System.Web.UI.WebControls
@model StockExchange.Web.Models.Account.LoginViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-centered">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Sign in</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </div>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <div class="icheckbox_flat">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                </div>
                                <label>Remember me</label>
                            </div>
                        </div>

                        @Html.ValidationSummary(true)

                        <button class="btn btn-primary btn-block" type="submit">Sign in</button>

                    }
                </div>
                <div class="box-footer">
                    <div class="text-center sign-up-text">
                        Haven't got an account yet? <a href="@Url.Action("Register", "Account")">Click here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $("input[type='checkbox']").iCheck({
            checkboxClass: 'icheckbox_flat'
        });
    </script>
}